/* css varibles */
:root {
    --red: rgb(172, 34, 23);
    --transpart-red: rgba(172,34,23,0.8);
    --transpart-gray: rgba(127, 127, 127, 0.8);
    --gray: rgb(127, 127, 127);
}
/* css varibles */

/* reset default css */
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    
}
body{
    height: 400vh;
}
a {
    color: black;
    text-decoration: none;
    background: none;
    border: none;
    padding: 0;
    margin: 0;
    font: inherit;
    line-height: inherit;
    outline: none;
}
a:hover,
a:focus,
a:active {
    color: inherit;
    text-decoration: none;
    background: none;
    border: none;
    outline: none;
}
/* reset default css */

/*  nav menu */
#nav{
    height: 6vh;
    border-bottom: 1px solid var(--gray);
    position: sticky;
    top: 0;
}
.nav-menu {
    display: flex;
    padding: .5rem;
    background-color: var(--red);
    justify-content: center;
    align-items: center;

    /* justify-content: space-between; */
}
#logo{
    /* height: ;
    width: ; */
    height: 2rem;
    margin: 5px;
}
.off-screen-menu{
    background-color: var(--red);
    height: 100vh;
    width: 100%;
    max-width: 100%;
    position: fixed;
    top: 0;
    right: -100%;
    display: flex;
    flex-direction: column;
    justify-content: right;
    align-items: center;
    text-align: center;
    font-size: 3rem;
    transition: .3s ease;
    margin-top: calc( 6vh );
    padding-top: 1rem;
}

.off-screen-menu.active{
    right: 0;
}
.ham-menu{
    height: 50px;
    width: 50px;
    margin-left: auto;
    position: relative;
}
.ham-span{
    height: 4px;
    width: 30px;
    background-color: var(--gray);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: .3s ease;
}

.ham-span:nth-child(1) {
    top: 25%;
}

.ham-span:nth-child(3) {
    top: 75%;
}

.ham-menu.active span:nth-child(1) {
    top: 50%;
    transform: translate(-50%, -50%) rotate(45deg);
}

.ham-menu.active span:nth-child(2) {
    opacity: 0;
}

.ham-menu.active span:nth-child(3) {
    top: 50%;
    transform: translate(-50%, -50%) rotate(-45deg);
}
/* list items in nav menu for mobile */
#off-screen-list{
    width: 100%;
}
#off-screen-list li{
    /* border-top: 1px solid var(--gray); */
    list-style: none;
    color: white;
    width: 100%;
    font-size: 2rem;
    max-width: 90%;
    margin: 0 auto;
    text-align: left;
    height: 4rem;
}
/* list items in nav menu for mobile */


/*  nav menu */

/* main html  display */
#main{
    display: flex;
    justify-content: center;
    flex-direction: column;
}
#main-img{
    height: 40vh;
}
.box, .section-box{
    margin: .5rem;
    padding-top: 1rem;
    padding-right: 3rem;
    padding-left: 3rem;
}
.box h2{
    color: var(--gray);
    margin-bottom: 1rem;
}
.box p{
    color: var(--gray);
    margin-bottom: 1rem;
    font-size: 1.12rem;
}
.box a{
    color: var(--gray);
}
.line{
    height: .5px;
    background-color: var(--gray);
    margin: 2rem auto;
}
/* main html  display */

/* under the main html tag styiling */
.section-box{
    border: solid 1px var(--gray);
    height: 300px;
    margin: 2rem;
    display: flex;
    justify-content: center;

}
.logo{
    height: 5rem;
    
}
.section-box h3{
    width: 100%;
    font-size: 1.7rem;
    margin: 0 2rem;
}
.section-box div{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
/* .card{

}
.card h2{
    font-size: 1.5rem;
} */

.section-box-card{
    margin: 2rem;

}
.section-box-card h2{
    width: 100%;
    font-size: 2rem;
    font-weight: 900;
    display: block;
    margin-bottom: 1rem;
}
.section-box-card p {
    color: gray;
    margin-bottom: 1rem;
    font-size: 1.12rem; 
}
.photos{
    width: 100%;
    display: block;
    height: 300px;
}
.card{
    margin: 2rem;
}
.card div{
    margin-top: 2rem;
}
.card div h2{
    width: 100%;
    font-size: 2rem;
    font-weight: 900;
    display: block;
    margin-bottom: 1rem;
}
.card div p{
    color: gray;
    margin-bottom: 1rem;
    font-size: 1.12rem;
}
/* under the main html tag styiling */
/* contact form */
#contact-form{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin: 2rem;
}
.form-info{
    display: flex;
    flex-direction: column;
    width: 100%;
}
.form-info input{
    margin-bottom: .5rem;
    margin-top: .5rem;
}
.form-info input{
    height: 2rem;
    outline: none;
}
.form-info input:focus,  .form-info textarea:focus{
    outline: none;
    box-shadow: 0 0 5px 2px var(--red);
    /* Red focus effect */
}
#contact-form button {
    margin-top: .5rem;
    width: 100%;
    height: 2rem;
    color: white;
    background-color: var(--gray);
}
/* contact form */